

<section class="how-it-works container my-5">
    <h2 class="text-center mb-4">What is AspNetCoreTemplate</h2>
    <div class="row">
        <div class="col-md-9">
            <p><b>AspNetCoreTemplate.org</b> is a sample app.</p>

        </div>

        <div class="col-md-3">
            <img src="~/img/about.jpg" style="max-height:200px" class="">
        </div>
    </div>
</section>